[submodule "themes/hermit-V2"]
	path = themes/hermit-V2
	url = https://github.com/justin-napolitano/hermit-V2.git
[submodule "content/posts/gh-pages-workflow"]
	path = content/posts/gh-pages-workflow
	url = https://github.com/justin-napolitano/gh-pages-workflow.git
[submodule "content/posts/accord-headliner"]
	path = archived-posts/accord-headliner
	url = https://github.com/justin-napolitano/accord-headliner.git
[submodule "content/posts/accord-bumper-weld"]
	path = archived-posts/accord-bumper-weld
	url = https://github.com/justin-napolitano/accord-bumper-weld
[submodule "content/posts/make-an-outdoor-living-space"]
	path = content/posts/make-an-outdoor-living-space
	url = https://github.com/justin-napolitano/making-an-outdoor-living-room.git
[submodule "content/posts/hugo-social-publisher"]
	path = content/posts/hugo-social-publisher
	url = https://github.com/justin-napolitano/hugo-social-publisher.git
[submodule "content/posts/prepare-chicken-salad"]
	path = archived-posts/prepare-chicken-salad
	url = https://github.com/justin-napolitano/prepare-chicken-salad.git
[submodule "content/posts/curate-an-edc-pouch"]
	path = archived-posts/curate-an-edc-pouch
	url = https://github.com/justin-napolitano/curate-an-edc-pouch.git
[submodule "content/posts/overtrain"]
	path = archived-posts/overtrain
	url = https://github.com/justin-napolitano/overtrain.git
[submodule "content/posts/mysql-install-buntu"]
	path = content/posts/mysql-install-buntu
	url = https://github.com/justin-napolitano/mysql-setup-buntu.git
[submodule "content/posts/mysql-config"]
	path = content/posts/mysql-config
	url = https://github.com/justin-napolitano/mysql-config.git
[submodule "content/posts/hugo-rss-setup"]
	path = content/posts/hugo-rss-setup
	url = https://github.com/justin-napolitano/hugo-rss-setup.git
[submodule "content/posts/hugo-rss-mysql-update"]
	path = content/posts/hugo-rss-mysql-update
	url = https://github.com/justin-napolitano/hugo-rss-mysql-update.git
[submodule "content/posts/embrace_mundanity"]
	path = archived-posts/embrace_mundanity
	url = https://github.com/justin-napolitano/embrace_mundanity.git
[submodule "content/posts/enter_my_car"]
	path = archived-posts/enter_my_car
	url = https://github.com/justin-napolitano/enter_my_car.git
[submodule "content/posts/create_a_github_template_repo"]
	path = content/posts/create_a_github_template_repo
	url = https://github.com/justin-napolitano/create_a_github_template_repo.git
[submodule "content/posts/gh_submodule_sync"]
	path = content/posts/gh_submodule_sync
	url = https://github.com/justin-napolitano/gh_submodule_sync.git
[submodule "content/posts/raising_canes"]
	path = archived-posts/raising_canes
	url = https://github.com/justin-napolitano/raising-canes.git
[submodule "content/posts/todo_es_sacre"]
	path = archived-posts/todo_es_sacre
	url = https://github.com/justin-napolitano/todo_es_sacre.git
[submodule "content/posts/cigarettes"]
	path = archived-posts/cigarettes
	url = https://github.com/justin-napolitano/cigarettes.git
[submodule "content/posts/cigarettes_again"]
	path = archived-posts/cigarettes_again
	url = https://github.com/justin-napolitano/cigarettes-again.git
[submodule "content/posts/love-is-hard"]
	path = archived-posts/love-is-hard
	url = https://github.com/justin-napolitano/love-is-hard.git
[submodule "content/posts/win-sets"]
	path = archived-posts/win-sets
	url = https://github.com/justin-napolitano/win-sets.git
[submodule "content/posts/driving"]
	path = archived-posts/driving
	url = https://github.com/justin-napolitano/driving.git
[submodule "content/posts/add-submodule-script"]
	path = content/posts/add-submodule-script
	url = https://github.com/justin-napolitano/add-submodule-script.git
[submodule "content/posts/giving-up"]
	path = archived-posts/giving-up
	url = https://github.com/justin-napolitano/giving-up.git
[submodule "content/posts/seat-covers"]
	path = archived-posts/seat-covers
	url = https://github.com/justin-napolitano/seat-covers.git
[submodule "content/posts/grays-peak"]
	path = content/posts/grays-peak
	url = https://github.com/justin-napolitano/grays-peak.git
[submodule "content/posts/signal-install-script"]
	path = content/posts/signal-install-script
	url = https://github.com/justin-napolitano/signal-install-script.git
[submodule "content/posts/loc_normalizer"]
	path = content/posts/loc_normalizer
	url = https://github.com/justin-napolitano/loc_normalizer.git
[submodule "content/posts/running"]
	path = content/posts/running
	url = https://github.com/justin-napolitano/running.git
[submodule "content/posts/create_deploy_cloud_run_job"]
	path = content/posts/create_deploy_cloud_run_job
	url = https://github.com/justin-napolitano/create_deploy_cloud_run_job.git
[submodule "content/posts/l_o_c_scraper"]
	path = content/posts/l_o_c_scraper
	url = https://github.com/justin-napolitano/loc_scraper.git
[submodule "content/posts/instagram"]
	path = content/posts/instagram
	url = https://github.com/justin-napolitano/instagram.git
[submodule "content/posts/hugo-mysql-db-setup"]
	path = content/posts/hugo-mysql-db-setup
	url = https://github.com/justin-napolitano/hugo-mysql-db-setup.git
[submodule "content/posts/setup-mysql-gcp"]
	path = content/posts/setup-mysql-gcp
	url = https://github.com/justin-napolitano/setup-mysql-gcp
[submodule "content/posts/flask-api-updater"]
	path = content/posts/flask-api-updater
	url = https://github.com/justin-napolitano/flask-api-updater.git
[submodule "content/posts/video-games"]
	path = content/posts/video-games
	url = https://github.com/justin-napolitano/video-games.git
[submodule "content/posts/bad-food"]
	path = content/posts/bad-food
	url = https://github.com/justin-napolitano/bad-food.git
[submodule "content/posts/pull-all-repos"]
	path = content/posts/pull-all-repos
	url = https://github.com/justin-napolitano/pull-all-repos.git
[submodule "content/posts/push-commits"]
	path = content/posts/push-commits
	url = https://github.com/justin-napolitano/push-commits.git
[submodule "content/posts/current-time-script"]
	path = content/posts/current-time-script
	url = https://github.com/justin-napolitano/current-time-script.git
[submodule "content/posts/windy-peak-mountain-lion-loop"]
	path = content/posts/windy-peak-mountain-lion-loop
	url = https://github.com/justin-napolitano/windy-peak-mountain-lion-loop.git
[submodule "content/posts/schedule-gcp-chron-jobs"]
	path = content/posts/schedule-gcp-chron-jobs
	url = https://github.com/justin-napolitano/schedule-gcp-chron-jobs.git
[submodule "content/posts/gcp-secret-creation"]
	path = content/posts/gcp-secret-creation
	url = https://github.com/justin-napolitano/gcp-secret-creation.py.git
	branch = post
[submodule "content/posts/mastodon-client"]
	path = content/posts/mastodon-client
	url = https://github.com/justin-napolitano/mastodon-client.git
	branch = post
[submodule "python-rss-reader"]
	path = python-rss-reader
	url = https://github.com/justin-napolitano/python-rss-reader.git
	branch = post
[submodule "content/posts/rss-reader"]
	path = content/posts/rss-reader
	url = https://github.com/justin-napolitano/python-rss-reader.git
	branch = post
[submodule "content/posts/exercise"]
	path = content/posts/exercise
	url = https://github.com/justin-napolitano/exercise.git
[submodule "content/posts/bread-and-wine"]
	path = content/posts/bread-and-wine
	url = https://github.com/justin-napolitano/bread-and-wine.git
[submodule "content/posts/loc-prodifier"]
	path = content/posts/loc-prodifier
	url = https://github.com/justin-napolitano/loc_prodifier.git
	branch = post
[submodule "content/posts/sup-court-graph"]
	path = content/posts/sup-court-graph
	url = https://github.com/justin-napolitano/sup-court-graph.git
[submodule "content/posts/sup-court-postgres-post"]
	path = content/posts/sup-court-postgres-post
	url = https://github.com/justin-napolitano/sup-court-postgres-post.git
[submodule "content/posts/sup-court-data-ingestion"]
	path = content/posts/sup-court-data-ingestion
	url = https://github.com/justin-napolitano/sup-court-data-ingestion.git
	branch = post
[submodule "content/posts/sup-court-pern-stack"]
	path = content/posts/sup-court-pern-stack
	url = https://github.com/justin-napolitano/sup-court-pern-stack.git
	branch = post
[submodule "content/posts/suprem-court-transfer"]
	path = content/posts/supreme-court-to-postgres-to-neo
	url = https://github.com/justin-napolitano/supreme-court-transfer.git
	branch = post
[submodule "content/posts/supreme-court-meta-relationships"]
	path = content/posts/supreme-court-meta-relationships
	url = https://github.com/justin-napolitano/supreme-court-meta-relationships.git
[submodule "content/posts/supreme-court-transfer-service-uniques"]
	path = content/posts/supreme-court-transfer-service-uniques
	url = https://github.com/justin-napolitano/supreme-court-transfer-service-uniques.git
[submodule "content/posts/sup-court-graph-explore"]
	path = content/posts/sup-court-graph-explore
	url = https://github.com/justin-napolitano/sup-court-graph-explore.git
