[submodule "themes/hermit-V2"]
	path = themes/hermit-V2
	url = https://github.com/justin-napolitano/hermit-V2.git
[submodule "content/posts/loc_scraper"]
	path = content/posts/loc_scraper
	url = https://github.com/justin-napolitano/loc_scraper.git
[submodule "content/posts/gcputils"]
	path = content/posts/gcputils
	url = https://github.com/justin-napolitano/gcputils.git
